:root{
    --white: #FFFFFA;
    --black: #000103; 
    --gray: #333138;
    --green: #749C75;
    --red: #FF312E; 
}
.userName{
    font-size: larger;
}
.userBtn{
    background-color: transparent;
    border: solid 2px var(--gray);
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    cursor: pointer;
    margin: 10px;
    color: var(--gray);
}
.userBtn:hover{
    border: solid 2px var(--red);
    background-color: var(--gray);
    color: var(--white);
}