.userName{
    font-size: larger;
}
.userBtn{
    background-color: transparent;
    border: solid 2px var(--gray);
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    cursor: pointer;
    margin: 10px;
    color: var(--gray);
}
.userBtn:hover{
    border: solid 2px var(--red);
    background-color: var(--gray);
    color: var(--white);
}
.userBtnDark{
    background-color: var(--white);
    border: solid 2px var(--gray);
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    cursor: pointer;
    margin: 10px;
    color: var(--gray);
}
.userBtnDark:hover{
    border: solid 2px var(--red);
    background-color: var(--gray);
    color: var(--white);
}
.genreSelect{
    height: 30px;
    border-radius: 20px;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}