:root{
  --white: #FFFFFA;
  --black: #000103; 
  --gray: #333138;
  --green: #749C75;
  --red: #FF312E; 
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #f2e9e4;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.App {
  text-align: center;
}