.singleGameDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 0 0 40px 0;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
.gameDescDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.singleGameDivB{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-bottom: 20px;
    padding: 10px;
}
.gameImg{
    border-radius: 10px;
    box-shadow: 2px 4px 8px var(--black);
    height: 200px;
}
.addButtonGame{
    display: block;
    background-color: var(--black);
    color: var(--white);
    border: solid 2px;
    padding: 7px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.2s;
}
.addButtonGame:hover{
    background-color: var(--white);
    color: var(--black);
    scale: 1.1;
    transition: all 0.2s;
}
.removeButtonGame{
    display: block;
    background-color: var(--red);
    color: var(--white);
    border: solid 2px var(--red);
    padding: 7px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.2s;
}
.removeButtonGame:hover{
    background-color: var(--white);
    color: var(--red);
    scale: 1.1;
    transition: all 0.2s;
}
.clickHere:hover{
    color:var(--red); 
}
.clickToPlay{
    font-size: large;
    font-weight: bolder;
}
.removeFromSaved{
    background-color: var(--red);
    border: solid 2px transparent;
    border-radius: 50%;
    padding: 10px;
    font-size: large;
    color: var(--white);
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 10px;
}
.removeFromSaved:hover{
    background-color: var(--white);
    border: solid 2px var(--red);
    color: var(--black);
}

@media screen and (max-width: 900px) {
    .singleGameDiv{
        width: auto;
    }
    .gameDesc{
        width: 100%;
    }
    .removeFromSaved{
        right: 0;
    }
    .addButtonGame{
        right: 0;
    }
    .removeButtonGame{
        right: 0;
    }
}